<%= form_with(model: [ @article, @article.comments.build ], remote: true) do |form| %>

<p>
  <%= form.hidden_field :user_id, :value => current_user.id %>
</p>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>