
<div class="border-form-div" style="text-align: center;height: 430px" >
  <h2 style="margin-bottom:20px;">Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address',style:"margin-bottom:20px;" %><br />
    <%= f.password_field :password, :placeholder => 'Password',style:"margin-bottom:20px;" %><br/>
    <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation',style:"margin-bottom:20px;" %><br/>
    <%= f.submit "Sign up",:class=>'btn btn-primary'%>
  <% end %>
  <%= render "devise/shared/links" %>
</div>