<%= form_with model: @book do |form| %>
 
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group"> 
   <p>
    <%= form.label :title %><br>
    <%= form.text_field :title ,required: true%>
  </p>
 
  <p>
    <%= form.label :Article %><br>
    <%= collection_check_boxes(:book, :article_ids, @articles, :id, :title) %>    

  </p>
  <div class="modal-footer">
   <button type="button" class="btn btn-default" data-submit="modal">
    <%= form.submit %>
   </button>
  </div>
</div>
<% end %>
